body { 
    margin: 0;    
    background-image: url("Cutlery.png");
    background-repeat: no-repeat;
    background-origin: content-box;
    background-attachment: fixed;
    background-position-x: 60px;
    background-position-y: -40px;
    background-size: 1400px 1050px;
}

.container-one {
    background-color: white;
    position: relative;
    padding-top: 10px; 
}

h1 {    
    font-size: 50px;
    color: #1242c4;
}
    
.bon {
    padding-left: 60px;
    margin-top: 20px;
}

ul {
    list-style-type: none;    
    padding-left: 60px;    
    padding-bottom: 40px;
    padding-top: 10px;
    background-color: white;
}
  
li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: normal;
    padding-right: 20px;
}

.fall {
    margin-top: 55px;
    margin-left: 150px;   
    font-size:75px;
}

.shop {
    background-color:white;
    border: none;
    color: black;    
    font-size: 18px;
    margin-top: 11px;
    margin-left: 150px;
    padding: 20px;
}

.defining {
    margin-top: 250px;
    margin-left: 400px;
    padding: 45px;
    font-size: 45px;
}

.container-two {
    background-color: white;
    position: relative;    
    padding-left: 60px;
}

td {
    padding-right: 75px;
}

img {
    width: 660px;
    height: 660px;
}

h2 {
    padding: 40px;
    margin-left: 220px;
    color: #1242c4;
}
